/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20 Feb, 2015, 9:53:11 AM
    Author     : hanumanthreddy
*/

body
{
    background-color: lightgoldenrodyellow;
}

#mainhead
{
    color: darkblue;
    text-align: center;
}

#links
{
    float: left;
    width: 200px;
    height: 400px;
    padding: 40px;
    margin-left: 50px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    border-radius: 7px;
    font-size: 120%;
}

.no_und a
{
    text-decoration: none;
}

#middle
{
    text-align: center;
    width: 790px;
    height: 440px;
    padding: 20px;
    margin-left: 400px;
    border-left: 2px solid #000000;
    border-right: 2px solid #000000;
    border-top: 2px solid #000000;
    border-radius: 7px;
}

#p1
{
    text-align: center;
    color: blueviolet;
}
#h2
{
    text-align: center;
    color: blueviolet;
}


a:link { color: blueviolet; }
a:visited { color: darkmagenta; }
a:hover { color: #FF00FF; text-decoration: underline; }
a:active { color: #0000FF; text-decoration: underline; }
